<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Final Project Visualization</title>


  <!-- Bootstrap core CSS -->
  <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/bootstrap/css/my_css.css" rel="stylesheet">
  <style>
      .sv{
          margin-left: 400px;
      }
  </style>

</head>

  <!-- Bootstrap core JavaScript -->
  <script src="../static/jquery/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/bootstrap/js/my_js.js"></script>


<body onload="callme('/plot')">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="#">Final Project</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Player Distribution</a>
            <!-- <span class="sr-only">(current)</span> -->
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/dash2">Player Statistics</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/dash3">MAP</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="but3" href="/dashboard">Dashboard</a>
            </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>

    <!-- <div class="row" > -->
        <h3 align="center">PLAYERS DISTRIBUTION ACCORDING TO THEIR COUNTRY</h3>
    <!-- </div> -->
    <div class="sv" ><svg width="660" height="660" id="svg2"></svg></div>

  <script>



function callme(a){
    console.log("_____")
    $.ajax({
        type: 'GET',
        url: a,
        contentType: 'application/json; charset=utf-8',
        success: function(result) {
        plot1(result)
        },
        error: function(result) {
        $("#error").html(result);
        }
    });
}

function plot1(data){
    root=JSON.parse(data)
console.log(root)
  var svg = d3.select("#svg2").attr('id','chart'),
    margin = 20,
    width= 600,
    height=600,
    diameter=+600,
   // diameter = +svg.attr("width"),
    g = svg.append("g").attr("transform", "translate(" + diameter / 2 + "," + diameter / 2 + ")");

var color = d3.scaleLinear()
    .domain([-1, 5])
    .range(["hsl(152,80%,80%)", "hsl(228,30%,40%)"])
    .interpolate(d3.interpolateHcl);

var pack = d3.pack()
    .size([diameter - margin, diameter - margin])
    .padding(2)


    root = d3.hierarchy(root)
      .sum(function(d) { return d.size; })
      .sort(function(a, b) { return b.value - a.value; });

  var focus = root,
      nodes = pack(root).descendants(),
      view;

  var circle = g.selectAll("circle")
    .data(nodes)
    .enter().append("circle")
      .attr("class", function(d) { return d.parent ? d.children ? "node" : "node node--leaf" : "node node--root"; })
      .style("fill", function(d) { return d.children ? color(d.depth) : null; })
      .on("click", function(d) { if (focus !== d) zoom(d), d3.event.stopPropagation(); });

  var text = g.selectAll("text")
    .data(nodes)
    .enter().append("text")
      .attr("class", "label")
      .style("fill-opacity", function(d) { return d.parent === root ? 1 : 0; })
      .style("display", function(d) { return d.parent === root ? "inline" : "none"; })
      .text(function(d) { return d.data.name; });

  var node = g.selectAll("circle,text");

  svg
      .style("background", color(-1))
      .on("click", function() { zoom(root); });

  zoomTo([root.x, root.y, root.r * 2 + margin]);


  function zoomTo(v) {
    var k = diameter / v[2]; view = v;
    node.attr("transform", function(d) { return "translate(" + (d.x - v[0]) * k + "," + (d.y - v[1]) * k + ")"; });
    circle.attr("r", function(d) { return d.r * k; });
  }
 
 function zoom(d) {
    var focus0 = focus; focus = d;

    var transition = d3.transition()
        .duration(d3.event.altKey ? 7500 : 750)
        .tween("zoom", function(d) {
          var i = d3.interpolateZoom(view, [focus.x, focus.y, focus.r * 2 + margin]);
          return function(t) { zoomTo(i(t)); };
        });

    transition.selectAll("text")
      .filter(function(d) { return d.parent === focus || this.style.display === "inline"; })
        .style("fill-opacity", function(d) { return d.parent === focus ? 1 : 0; })
        .on("start", function(d) { if (d.parent === focus) this.style.display = "inline"; })
        .on("end", function(d) { if (d.parent !== focus) this.style.display = "none"; });
  }
}
</script>

</body>

</html>
